


button.botao-player{
    background-color: #003060;
    color: #68BBE3;
}

button.botao-player{
    background-color: #003060;
    color: #68BBE3;
}

body{
    background-image: url(img_esporte.jpg);